<div class="container">
  <div class="row">
  	<div class="col-lg-2 col-md-2 col-xs-2 margin"></div>
  	<div class="col-lg-8 col-md-8 col-xs-8 main">
  		<div class="col-lg-4 col-md-4 col-xs-4 a"> 
  			<div class="col-lg-3 col-md-3 col-xs-3 icon"> 
  				<i class="fa fa-2x fa-briefcase" aria-hidden="true"></i> 
  				<p class="icon-text"> Accounts </p>
  			</div>
  			<div class="col-lg-9 col-md-9 col-xs-9 text"> 
  				<h6>Set: Accounts</h6>
  				<p class="ptext">Type: Deposit </p>
  				<p class="ptext">Age: From 29years to 80... </p>
  			</div>
  		</div>
  		<div class="col-lg-4 col-md-4 col-xs-4 b"> 
  			<div class="col-lg-3 col-md-3 col-xs-3 icon"> 
  				<i class="fa fa-2x fa-phone" aria-hidden="true"></i>
  				<p class="icon-text">Calls</p>
  			</div>
  			<div class="col-lg-9 col-md-9 col-xs-9 text"> 
  				<h6>Set: Call</h6>
  				<p class="ptext">Type: Bussines</p>
  				<p class="ptext">Number: 509 990 998</p>
  			</div>
  		</div>
  		<div class="col-lg-4 col-md-4 col-xs-4 c">
  			<div class="col-lg-3 col-md-3 col-xs-3 icon"> 
  				<i class="fa fa-2x fa-user" aria-hidden="true"></i>
  				<p class="icon-text">Clients</p>
  			</div>
  			<div class="col-lg-9 col-md-9 col-xs-9 text"> 
  				<h6>Set: Clients</h6>
  				<p class="ptext">Name: John Snow</p>
  			</div>
  		</div>
  	</div>
  	<div class="col-lg-2 col-md-2 col-xs-2 margin"></div>
  </div>
</div>